@model List<ShopModel>

<div id="loginListMainFrame">
    <h1>Log in</h1>
    <div style="height: 50px;">
    </div>
    <div class="loginList">
        @foreach (var item in Model)
        {
            <a class="loginListItem" asp-action="Login" asp-route-shopId="@(item.Id)" asp-route-isPasswordIncorrect="false">
                <div class="loginListItemText">@(item.City) @(item.Street)</div>
            </a>
        }
    </div>
</div>