<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/stylev2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- IF USER IS AUTHENTICATE -->
    @if (User.Identity.IsAuthenticated)
    {
    <div class="LeftNavigationBar">
        <div class="LNBShop">
            <label>USER</label>
            <br />
            <label>USER</label>
        </div>
        <a class="LNBLogOutButton" asp-controller="Home" asp-action="LogOut"><img src="~/images/icons/logoutIcon.png" alt="log out"></a>
        <div class="LNBButtons">
            <a class="LNBButton" asp-controller="Orders" asp-action="AllOrders"><div>Manage Orders</div></a>
            <a class="LNBButton" asp-controller="Orders" asp-action="ConfirmedOrders"><div>Confirmed Orders</div></a>
        </div>
    </div>
    <div style="height: 100vh; width: 100vw; position: relative;">
        <div class="LeftBlank">

        </div>
        <div class="RightContent">
            @RenderBody()
        </div>
    </div>
    
    }
    else
    {
        @RenderBody()
    }
</body>
</html>