@model List<OrderModel>

<h1>Orders/AllOrders</h1>

<a asp-action="CreateNewBlankOrder">+ Create new order +</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>ConfirmationDate</th>
            <th>Detials</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.OrderUqName)</td>
                <td>
                    @if (item.IsConfirmed)
                    {
                        <p>Confirmed</p>
                    }
                    else
                    {
                        <p>Not Confrimed</p>
                    }
                </td>
                <td>
                    @if (item.IsConfirmed)
                    {
                        <p>@(item.ConfirmationDate.Value.ToString("yyyy-MM-dd"))</p>
                    }
                    else
                    {
                        <p>-</p>
                    }
                </td>
                <td><a asp-action="OrderDetails" asp-route-orderId="@(item.Id.ToString())">See</a></td>
            </tr>
        }
    </tbody>
</table>