@model List<OrderModel>

<div class="OrdersList">
    <a class="OLCreateNewOrderButton" asp-action="CreateNewBlankOrder">
        <img src="~/images/icons/plusIcon.png" alt="+">
    </a>
    @foreach (var item in Model)
    {
        <div class="OLElement">
            <p class="OLEName">@(item.OrderUqName)</p>

            <div class="OLECreationDateCont">
                <div class="OLECDCHeader">Creation Date</div>
                <div class="OLECDCValue">@(item.CreationDate.ToString("dd-MM-yyyy"))</div>
            </div>

            <div class="OLEButtonsContainer">
                <a class="OLEBCManage" asp-action="OrderDetails" asp-route-orderId="@(item.Id.ToString())">
                    <img src="~/images/icons/manageOrderIcon.png" alt="See">
                </a>
                <a class="OLEBCDelete" asp-action="DeleteOrder" asp-route-orderId="@(item.Id.ToString())">
                    <img src="~/images/icons/deleteIcon.png" alt="Delete">
                </a>
            </div>
        </div>
    }
</div>