@model List<OrderModel>

<h1>Orders/AllOrders</h1>

<a asp-action="CreateNewBlankOrder">+ Create new order +</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Confirmation date</th>
            <th>Detials</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.OrderUqName)</td>
                <td>@(item.ConfirmationDate.Value.ToString("dd-MM-yyyy"))</td>
                <td><a asp-action="OrderDetails" asp-route-orderId="@(item.Id.ToString())">See</a></td>
            </tr>
        }
    </tbody>
</table>