* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

.RightContent {
    position: relative;
    width: calc(100% - 250px);
    float: left;
    background: white;
}

.LeftBlank {
    position: relative;
    height: 100%;
    width: 250px;
    float: left;
    background: transparent;
}

.LeftNavigationBar {
    position: fixed;
    height: 100vh;
    width: 250px;
    background: linear-gradient( 180deg, rgba(30, 30, 30, 1) 80%, rgba(30, 30, 30, 0.9) 100% );
    z-index: 10;
    /*transition: transform 1s;*/
}

.LNBMoveButton {
    position: absolute;
    height: 50px;
    width: 50px;
    background: green;
    right: 0px;
}

#loginListMainFrame {
    color: rgb(80, 80, 77);
    position: absolute;
    height: 70vh;
    width: 70vw;
    background: transparent;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    font-family: "Quicksand";
    font-size: 30px;
    text-align: center;
}

.loginList {
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    height: 70%;
    width: 100%;
}

.loginList > h1 {
    position: sticky;
    top: 0;
    background: white;
    display: block;
}

.loginListItem {
    text-decoration: none;
    color: rgb(80, 80, 77);
    display: block;
    margin: 5px 20px 5px 20px;
    height: 50px;
    border: 3px solid rgb(80, 80, 77);
    border-radius: 5px;
    font-size: 28px;
    transition: font-size 0.5s;
    transition: height 0.5s;
    transition: margin 0.5s;
}

.loginListItemText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.loginList::-webkit-scrollbar {
    display: none;
}

.loginListItem:hover {
    height: 56px;
    margin: 7px;
    font-size: 35px;
}

.loginlistitem:active {
    background: rgb(80, 80, 77);
    color: white;
}

.ListManageOrderProduct {
    position: relative;
    width: 100%;
    margin: 10px;
    background: transparent;
    float: left;
}

/*LOGIN STEP 2*/

#loginMainFrame {
    color: rgb(80, 80, 77);
    position: absolute;
    height: 70vh;
    width: 70vw;
    max-width: 500px;
    min-width: 200px;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Quicksand";
    font-size: 30px;
    text-align: center;
}

#loginMainFrame > h1 {
    position: relative;
    top: 0;
    background: white;
    display: block;
}

#loginShopName {
    position: relative;
    color: rgb(80, 80, 77);
    display: block;
    margin: 50px 20px 5px 20px;
    height: 50px;
    border: 3px solid rgb(80, 80, 77);
    border-radius: 5px;
    font-size: 28px;
}

#loginShopNameText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#loginPassword {
    position: relative;
    color: rgb(80, 80, 77);
    display: block;
    margin: 5px 20px 5px 20px;
    height: 50px;
    border: 3px solid rgb(80, 80, 77);
    border-radius: 5px;
    font-size: 28px;
}

#passwordLabel {
    position: relative;
    border: none;
    background: white;
    height: 100%;
    width: 100%;
    text-align: center;
    background: transparent;
    font-size: 35px;
}

#loginButtonConfirm {
    position: relative;
    color: rgb(80, 80, 77);
    display: block;
    margin: auto;
    height: 50px;
    width: 80%;
    border: 3px solid rgb(80, 80, 77);
    border-radius: 5px;
    font-size: 28px;
    text-decoration: none;
    background: transparent;
}

#loginButtonConfirm:hover {
    background: rgb(80, 80, 77);
    color: white;
}

.loginIncorrectPassword {
    margin-top: 10px;
    font-size: 19px;
    position: relative;
    height: auto;
    width: 100%;
    color: darkred;
}

/* LIST ORDER PRODUCTS */

.ListManageOrderProductItem {
    position: relative;
    height: 50px;
    width: 96%;
    background: transparent;
    margin: auto;
    margin-top: 10px;
    border: rgb(80, 80, 77) solid 2px;
    border-radius: 10px;
}

.LMOPIProducerProductName {
    position: relative;
    background: transparent;
    margin-left: 10px;
    width: calc(20% - 10px);
    height: 100%;
    display: block;
    font-size: 17px;
    float: left;
}

.LMOPIProducer {
    position: absolute;
    display: block;
    text-align: left;
    background: transparent;
    top: 5%;
}

.LMOPIProductName {
    position: absolute;
    display: block;
    background: transparent;
    bottom: 5%;
}

.LMOPIBarecode {
    position: relative;
    background: transparent;
    width: 20%;
    display: block;
    font-size: 30px;
    float: left;
    top: 50%;
    transform: translateY(-50%);
}

.LMOPIBarecode > label {
    display: block;
}

.ListManageOrderProduct::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.LMOPIRetialBoxPrice {
    position: relative;
    background: transparent;
    width: 20%;
    height: 100%;
    display: block;
    font-size: 17px;
    float: left;
}

.LMOPIRetailPrice {
    font-size: 20px;
    position: relative;
    display: block;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
}

.Quantity {
    position: relative;
    width: 20%;
    height: 100%;
    display: block;
    font-size: 17px;
    float: left;
}

.QuantityButtonIncrement {
    position: relative;
    float: left;
    background: transparent;
    width: 50px;
    height: 50px;
}

.QuantityInput {
    position: relative;
    float: left;
    background: transparent;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.QuantityButtonDecrement {
    position: relative;
    height: 30px;
    width: 30px;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: rgb(80, 80, 77) solid 2px;
}

.QuantityButtonIncrement {
    position: relative;
    height: 30px;
    width: 30px;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: rgb(80, 80, 77) solid 2px;
}

.QuantityButtonIncrement > img {
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.QuantityButtonDecrement > img {
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.LabelInQuantityLabel {
    position: relative;
    border: black solid 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 70%;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}

.QuantityButtonIncrement > label {
    position: relative;
    display: block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.LMOPITotalPrice {
    width: calc(20% - 20px);
    margin-right: 20px;
    position: relative;
    background: transparent;
    display: block;
    float: left;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.LMOPITotalPrice > input {
    position: relative;
    background: transparent;
    border: none;
    font-size: 30px;
    text-align: right;
    width: 100%;
}

.LMOPGeneralData {
    position: sticky;
    top: 10px;
    height: 60px;
    width: 96%;
    margin: auto;
    z-index: 2;
}

.LMOPGDOrderName {
    float: right;
    position: relative;
    height: 50px;
    top: 5px;
    width: 180px;
    border: rgb(80, 80, 77) solid 2px;
    border-radius: 10px;
}

.LMOPGDOrderName > img{
    height: 46px;
}

.LMOPGDOrderName > p {
    position: relative;
    float: right;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

.LMOPGDTotalPrice {
    margin-left: 30px;
    margin-right: 30px;
    float: right;
    position: relative;
    height: 50px;
    top: 5px;
    width: 180px;
    border: rgb(80, 80, 77) solid 2px;
    border-radius: 10px;
}

.LMOPGDTotalPrice > input {
    position: relative;
    font-size: 23px;
    max-width: 120px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    background: transparent;
    border: none;
    color: rgb(80, 80, 77);
}

.LMOPGDTotalPrice > img {
    display: block;
    height: 42px;
    margin: 2px;
    float: left;
}

.LMOPSybmitButton {
    float: right;
    position: relative;
    height: 50px;
    top: 5px;
    width: 50px;
    border: green solid 2px;
    border-radius: 100%;
}

.LMOPSybmitButton > img{
    height: 30px;

}

.LNBShop {
    position: relative;
    height: 50px;
    width: 190px;
    color: white;
    overflow: hidden;
    float: left;
}

.LNBLogOutButton {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 50px;
    width: 50px;
    margin: 5px;
    
}

.LNBLogOutButton > img {
    height: 40px;
    width: 40px;
}

.LNBButtons {
    position: absolute;
    height: 300px;
    width: calc(100% - 10px);
    margin-right: 10px;
    top: 15%;
}

.LNBButton {
    position: relative;
    display: block;
    height: 50px;
    text-decoration: none;
    transform: translateX(0%);
    transition: transform 0.7s;
}

.LNBButton > div {
    display: block;
    position: relative;
    color: white;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.LNBButton:hover {
    transform: translateX(-10%);
    transition: transform 0.7s;
}

.LNBLogOutButton:hover {
    transform: translateX(5px);
    transition: transform 0.7s;
}

/* ORDERS LIST */

.OrdersList {
    background: red;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    height: inherit;
    background: red;
}

.OLElement {
    position: relative;
    margin: 20px 0px 0px 20px;
    height: 350px;
    width: 230px;
    float: left;
    font-weight: 300;
    transition: box-shadow 0.7s;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.OLElement:hover {
    transition: box-shadow 0.7s;
    box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.2);
}

.OLEName {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.OLEButtonsContainer {
    position: absolute;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    height: 50px;
    width: 100%;
    bottom: 10px;
    left: 0px;
}

.OLEBCManage {
    position: absolute;
    right: 55%;
    display: inline-block;
    background: #0081fa;
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.OLEBCManage:hover {
    transition: background 0.2s;
    background: rgba(0, 129, 250, 0.856);
}

.OLEBCManage > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
}

.OLEBCDelete {
    position: absolute;
    left: 55%;
    display: inline-block;
    background: #e8005d;
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.OLEBCDelete:hover {
    transition: background 0.2s;
    background: #e8005dc7;
}

.OLEBCDelete > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
}

.OLECreationDateCont {
    top: 30px;
    position: relative;
    height: 46px;
    width: 80%;
    margin: auto;
    border: rgb(80, 80, 77) solid 2px;
    border-radius: 5px;
}

.OLECDCHeader {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    transform: translate(5%, -50%);
    background: white;
}

.OLECDCValue {
    display: block;
    position: relative;
    font-size: 20px;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.OLCreateNewOrderButton {
    position: fixed;
    display: block;
    height: 80px;
    width: 80px;
    background: green;
    right: 15px;
    bottom: 15px;
    border-radius: 100%;
    z-index: 10;
}

.OLCreateNewOrderButton > img {
    position: relative;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.OLCreateNewOrderButton:hover {
    transition: background 0.7s;
    background: rgba(0, 128, 0, 0.76);
}

/* end ORDERS LIST end */